<app-navbar></app-navbar>

<app-search-form (searchSubmit)="onSearchSubmit($event)"></app-search-form>

<div class="container d-grip d-md-flex justify-content-md-end">
  <button 
    type="button" 
    class="btn btn-primary"
    [routerLink]="['/mangas/add']"
    >
  Añadir Manga <i class="bi bi-plus-circle"></i></button>
</div>

<div class="container">
  <div class="row">
    <div class="lines col-md-3" *ngFor="let manga of mangas">
      <app-card-manga 
      [manga]="manga" 
      (mangaSelected)="onMangaSelected($event)"
      >
    </app-card-manga>
    </div>
  </div>
</div>

<app-edit-manga 
  [mostrarModal]="mostrarModalEdit" 
  [mangaDatos]="mangaSeleccionado"
  [autores]="autores"
  [estados]="estados"
  [generos]="generos"
  (cerrarModal)="onCerrarModalEdit()"
  (enviarMangaDatos)="editarManga($event)"
  >
</app-edit-manga>

<app-delete-manga
  [mostrarModal]="mostrarModalDel"
  [manga]="mangaSeleccionado"
  (cerrarModal)="onCerrarModalDel()"
  (enviarIDManga)="borrarManga($event)"
  >
</app-delete-manga>

<!--Corregir ngIf-->
<div *ngIf="!mangas">
  <p>No hay mangas disponibles</p>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" [class.disabled]="params.page === 1" (click)="changePage(params.page-1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" [class.active]="params.page === 1" (click)="changePage(1)" >1</a>
    </li>
    <li class="page-item">
      <a class="page-link" [class.active]="params.page === 2" (click)="changePage(2)">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="changePage(params.page+1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
