<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-5">
      <h1>Autor</h1>
      <app-about-me></app-about-me>
    </div>
    <div class="proyecto col-12 col-md-6">
      <h1>Sobre el proyecto</h1>
      <div class="card">
        <div class="card-body">
          <div class="top-card">
            <div class="container">
              <div class="row">
                <img
                  src="assets/images/inicio/bluelock.jpg"
                  alt="bluelock-manga"
                  class="col-12 col-md-4"
                />
                <p class="card-text col-12 col-md-7" id="proyecto-texto">
                  La aplicación de mangas permite gestionar de manera eficiente
                  una colección de mangas mediante operaciones CRUD (Crear,
                  Leer, Actualizar, Eliminar). Desarrollada con
                  <strong>Node.js</strong> y <strong>Express</strong> en el
                  backend, y utilizando <strong>SQLite</strong> como base de
                  datos, proporciona una experiencia fluida y rápida para el
                  usuario. El frontend está construido con
                  <strong>Angular</strong>, ofreciendo una interfaz intuitiva
                  que facilita agregar, editar, consultar y eliminar mangas de
                  forma sencilla y efectiva.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tecnologias-header mt-5">
  <h1>Tecnologías usadas</h1>
</div>
<div class="container">
  <div class="imagenes-div row">
    <div class="imagen-div col-12 col-md-2">
      <img
        class="imagen"
        src="assets/images/inicio/Angular.png"
        alt="angular-logo"
      />
      <p>Angular</p>
    </div>
    <div class="imagen-div col-12 col-md-2">
      <img
        class="imagen"
        src="assets/images/inicio/Bootstrap.png"
        alt="bootstrap-logo"
      />
      <p>Bootstrap</p>
    </div>
    <div class="imagen-div col-12 col-md-2">
      <img
        class="imagen"
        src="assets/images/inicio/TypeScript.png"
        alt="typescript-logo"
      />
      <p>TypeScript</p>
    </div>
    <div class="imagen-div col-12 col-md-2">
      <img
        class="imagen"
        src="assets/images/inicio/Express.png"
        alt="express-logo"
      />
      <p>Express</p>
    </div>
    <div class="imagen-div col-12 col-md-2">
      <img
        class="imagen"
        src="assets/images/inicio/Node_js.png"
        alt="node-js-logo"
      />
      <p>Node Js</p>
    </div>
  </div>
</div>
